
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: #072137;
    color: white;

   
}
nav{
    position: sticky;
    top: 0;
}
.logo{
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
   
}

.nav_links{
    display: flex;
    justify-content: flex-end;
    gap: 1.2rem;
   margin-right: 2rem;
    width: 75%;
   
}

.blogs,.createblogs,.logout,.cart{
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}


.mobile_menu_icon{
    display: none;
}



 @media (max-width:780px){
     .logo{
        display: flex;
        position: absolute;
        top: 15%;
        left: 35px;
     }
     .nav_links{
        display: none;
     }
     .nav_links_mobile{
        position: absolute;
        display: block;
        list-style: none;
        background-color: #012733;
        left: 0;
        top: 75px;
        transition: all .5s ease-out;
        width: 100%;
        text-decoration: none;
        list-style: none;
      
     }
    .mobile_nav_icon{
       font-size: 2rem;
       color: azure;
       position: absolute;
       bottom: 20px;
       right: 20px;
       
    }
    .blogs,.createblogs,.logout,.dropdown,.cart{
        color: white;
        text-align: start;
        padding: 32px;
        width: 100%;
        transition: all .5s ease;
        text-decoration: none;
        list-style: none;
    }
     .mobile_menu_icon{
        display: block;
        position: absolute;
        font-size: 30px;
        color: antiquewhite;
        /* background-color: #012733; */
        border: none;
        outline: none;
        top: 15px;
        right: 25px;
        font-size: 2rem;
        color: azure;
        position: absolute;
        bottom: 20px;
     right: 20px;
        z-index: 9999;
     }
    
}